<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Match-IE{% endblock %}</title>  
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    {% block stylesAdd %}{% endblock stylesAdd%} 
    {% block scriptshead %}{% endblock scriptshead%} 
  </head>
<body>
    <!-- menu -->
    {% include 'menu.html' %}
    {% block submenu %}{% endblock submenu%} 
    <main>
        <!-- Specific for pages -->
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Contact Us: dreamteam@gmail.com</p>
      </footer>
</body>
</html>